.custom-cursor {
    position: relative;
    outline: none;
    caret-color: transparent;
    /* Hide the default caret */
}

.custom-cursor::after {
    content: '';
    position: absolute;
    width: 2px;
    /* Set the width of the caret */
    height: 1.2em;
    /* Height matches the line height */
    background-color: black;
    /* Color of the caret */
    animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}